@import '../../../node_modules/breakpoint-sass/stylesheets/breakpoint';

// Breakpoints
@mixin bp($breakpoint) {
    @if (type-of($breakpoint)=='list') {
        $bp: '';

        @if map-has-key($breakpoints, nth($breakpoint, 1)) {

            $bp: map-get($breakpoints, nth($breakpoint, 1));
        }

        @else {
            $bp: nth($breakpoint, 1);
        }

        @if map-has-key($breakpoints, nth($breakpoint, 2)) {
            $bp: append($bp, map-get($breakpoints, nth($breakpoint, 2)));
        }

        @else {
            $bp: append($bp, nth($breakpoint, 2));
        }

        @include breakpoint($bp) {
            @content;
        }
    }

    @if (type-of($breakpoint)=='string') {
        @if map-has-key($breakpoints, $breakpoint) {
            @include breakpoint(map-get($breakpoints, $breakpoint)) {
                @content;
            }
        }
    }
}

@mixin placeholder {
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        @content;
    }

    &::-moz-placeholder { /* Firefox 19+ */
        @content;
    }

    &:-ms-input-placeholder { /* IE 10+ */
        @content;
    }

    &:-moz-placeholder { /* Firefox 18- */
        @content;
    }
}

@mixin flexGrid($gutter: 20px) {
    display: flex;
    margin-top: (-$gutter);
    margin-left: (-0.5 * $gutter);
    margin-right: (-0.5 * $gutter);
    flex-wrap: wrap;
}

@mixin flexGridItem($gutter: 20px, $col: 2) {
    flex: 1 0 100%/$col;
    max-width: 100%/$col;
    width: 100%/$col;
    padding: 0 $gutter/2;
    margin-top: $gutter;

    > * {
        height: 100%;
    }
}
