section.form
    .container--small
        .form__container
            <!--[if lte IE 8]>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
            <![endif]-->
            script(charset='utf-8' type='text/javascript' src='//js.hsforms.net/forms/v2.js')
            script.
                hbspt.forms.create({
                    portalId: "4193577",
                    formId: "0c0b1a32-6044-4499-b915-905129f0a141"
                });