extends ./global/layout.pug

include ./components/header/header.pug
include ./components/intro-image-text/intro-image-text.pug
include ./components/two-col-text/two-col-text.pug
include ./components/image-callout/image-callout.pug
include ./components/steps/steps.pug
include ./components/about-us/about-us.pug
include ./components/footer/footer.pug

block vars
    -
        var title = 'Get Started with Ticket to Work';
        var description = '';

block header
    +header({
        showRequestCall: true
    })

block content
    +introImageText({
        headline: 'Get Started with Ticket to Work',
        subheadline: 'We&apos;ll Help For <strong>Free</strong>',
        copy: 'Ticket to Work (TTW) is a free benefit of the SSDI program, but can be complex and confusing. Fortunately, you don’t have to navigate it on your own. If you’re receiving SSDI and want to try working again, we’re ready to help, at <strong><span class="underline">no</span>&nbsp;cost to you.</strong>',
        image: 'lady-1',
        headlineContainerClass: 'big'
    })
    +twoColText({
        col1: 'Allsup Employment Services is a <strong>nationwide Employment Network</strong> authorized by the Social Security Administration to assist you with the Ticket to Work program. We offer expert guidance designed to help you gain more from SSDI and from life.',
        col2: '<strong>AES has helped thousands of people</strong> like you get back to work and earn an income again. We help you prepare to re-enter the job market, navigate the rules and paperwork, suspend future Continuing Disability Reviews, and most importantly, <strong>protect your Social Security and Medicare benefits</strong> when you go back to work.'
    })
    +imageCallout()
    +steps({
        logo: './images/ticket-to-work-white',
        heading: 'Ticket to Work in 5 Steps',
        summary: 'We’re here for you, from our first contact by phone to that first day back at work – and beyond.',
        cards: [
            {
                heading: 'We create your Individual Work Plan',
                summary: 'This is your roadmap for returning to work that we complete and you review and sign. It includes work history, job type, employment goals and more.'
            },
            {
                heading: 'We assign your Ticket to Work',
                summary: 'Once your Individual Work Plan is completed and signed, we use the SSA’s Ticket to Work portal to assign your ticket.'
            },
            {
                heading: 'We help you explore work options',
                summary: 'If you’d like help searching for a job, we offer coaching and support to assist you in matching your work experience, talent and skills with current opportunities. We also provide resume-building tips, links to job search websites and more.'
            },
            {
                heading: 'We check in to help you stay on track and avoid problems',
                summary: 'While you’re searching for a job, we’ll check in regularly and provide support. Once you’re working, we’ll help by reporting your earnings information and communicating with the SSA for you.'
            },
            {
                type: 'big',
                heading: 'You focus on work and enjoy benefits protection',
                summary: 'We’ll support you for up to 9 years, and help ensure that you get SSDI and Medicare benefit protection through the Ticket to Work program.',
                svg: 'man-1',
                bottomCopy: 'Ready to get the most out of Ticket to Work?<br>Put Allsup Employment Services to work for you.',
                showPhone: true,
                buttonColor: 'purple',
                showRequestCall: true
            }
        ],
        bottomCopy: 'Ready to get the most out of Ticket to Work? Put Allsup Employment Services to work for you.'
    })
    +aboutUs({
        image: './svg/business-characters.svg',
        imageAlt: 'Business people'
    })

block footer
    +footer({
        showRequestCall: true
    })
