mixin svg-icon(icon)
    case icon
        when 'aes-stacked'
            include ../svg/aes-stacked.pug
        when 'aes-white'
            include ../svg/aes-white.pug
        when 'aes'
            include ../svg/aes.pug
        when 'phone'
            include ../svg/phone.pug
        when 'lady-1'
            include ../svg/lady-1.pug
        when 'lady-2'
            include ../svg/lady-2.pug
        when 'man-1'
            include ../svg/man-1.pug
        when 'man-2'
            include ../svg/man-2.pug