svg(width='210' height='210' viewbox='0 0 210 210' fill='none' xmlns='http://www.w3.org/2000/svg')
  circle(cx='105.5' cy='105.5' r='97.5' fill='#D4E5EE')
  path(d='M0 36H124V107H17.5L0 123V36Z' fill='#464646')
  path(d='M0 33L124 32V103L17.5 104L0 120V33Z' fill='#902F80')
  rect(opacity='0.6' x='14' y='50.9542' width='97' height='2' rx='1' fill='white')
  rect(opacity='0.6' x='14' y='61.9542' width='97' height='2' rx='1' fill='white')
  rect(opacity='0.6' x='14' y='72.9542' width='97' height='2' rx='1' fill='white')
  rect(opacity='0.6' x='14' y='83.9542' width='97' height='2' rx='1' fill='white')
  path(d='M210 120H86V171H192.5L210 187V120Z' fill='#464646')
  path(d='M210 117L86 115V167L192.5 168L210 184V117Z' fill='#F8901F')
  g(opacity='0.6')
    rect(x='99' y='131' width='97' height='2' rx='0.999999' fill='white')
    rect(x='99' y='142' width='97' height='2' rx='0.999999' fill='white')
    rect(x='99' y='153' width='97' height='2' rx='0.999999' fill='white')
