svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
  path(fill-rule='evenodd' clip-rule='evenodd' d='M0.351472 0.343234C0.820101 -0.114411 1.5799 -0.114411 2.04853 0.343234L13.6485 11.6714C14.1172 12.129 14.1172 12.871 13.6485 13.3286L2.04853 24.6568C1.5799 25.1144 0.820101 25.1144 0.351472 24.6568C-0.117157 24.1991 -0.117157 23.4571 0.351472 22.9995L7.90294 12.5L0.351472 2.00052C-0.117157 1.54287 -0.117157 0.80088 0.351472 0.343234Z' fill='white')
