svg(width='195' height='195' viewbox='0 0 195 195' fill='none' xmlns='http://www.w3.org/2000/svg')
  circle(cx='97.5' cy='97.5' r='97.5' fill='#D4E5EE')
  g(clip-path='url(#translateclip0)')
    path(d='M73.9502 165.371L186.832 155.772V57.3784L73.9502 69.1825V165.371Z' fill='#FFA412')
    path(d='M106.667 130.425L7 135.434L10.7923 30.1993L106.667 38.522V130.425Z' fill='#902F80' style='mix-blend-mode:multiply')
    path(d='M73.95 165.37L107.401 130.243L73.95 131.922V165.37Z' fill='#464646')
    path(d='M61.4355 74.4463C62.6929 70.5998 63.9504 67.2859 65.2078 64.5048C63.4935 65.5725 61.387 67.8186 58.8906 71.2455C56.3942 74.6769 53.7548 78.867 50.9722 83.8181C52.4973 84.1225 54.0985 84.503 55.7759 84.9596L58.3484 85.5892C59.149 82.0102 60.1781 78.2951 61.4355 74.4463ZM37.595 104.045C37.595 102.56 38.3863 100.237 39.9691 97.0734C41.5495 93.9141 43.656 90.2751 46.2863 86.1611C43.9606 85.9697 41.9025 85.8751 40.1121 85.8751H38.1095C38.8339 83.8942 40.8159 82.9026 44.0552 82.9026C45.0842 82.9026 46.457 83.0364 48.1713 83.3039C51.1061 78.8855 54.0893 74.723 57.1187 70.8188C60.1481 66.9147 62.5407 64.1428 64.2942 62.5055C65.3993 61.4401 66.313 60.9051 67.0374 60.9051C67.838 60.9051 68.8486 61.5139 70.0668 62.7338C69.3054 63.3426 68.2003 65.8101 66.7513 70.1339C65.3024 74.4555 64.0081 79.1806 62.8637 84.3047C61.7216 89.4265 61.1494 93.552 61.1494 96.6744C61.1494 98.1988 61.3109 99.3403 61.6362 100.104C61.9592 100.865 62.5014 101.245 63.2651 101.245C65.3601 101.245 67.8565 98.4271 70.7544 92.7887L71.3266 93.3606C70.143 96.483 68.6663 98.999 66.8944 100.901C65.1224 102.806 63.302 103.759 61.4355 103.759C59.9104 103.759 58.7845 103.083 58.0623 101.732C57.3379 100.378 56.9756 98.5032 56.9756 96.1025C56.9756 93.665 57.2986 90.8286 57.947 87.5885C55.5082 87.208 52.6888 86.8275 49.4864 86.447C45.751 93.303 42.4355 100.159 39.54 107.017C38.2433 106.293 37.595 105.301 37.595 104.045Z' fill='white')
    rect(x='111' y='80.9163' width='67' height='2' rx='1' transform='rotate(-5.06598 111 80.9163)' fill='white')
    rect(x='111' y='104.725' width='67' height='2' rx='1' transform='rotate(-5.06598 111 104.725)' fill='white')
    rect(x='111' y='128.535' width='67' height='2' rx='1' transform='rotate(-5.06598 111 128.535)' fill='white')
    rect(x='108.979' y='90.4827' width='67' height='2' rx='1' transform='rotate(-1.07 108.979 90.4827)' fill='white')
    rect(x='108.979' y='114.292' width='67' height='2' rx='1' transform='rotate(-1.07 108.979 114.292)' fill='white')
    rect(x='108.979' y='138.101' width='67' height='2' rx='1' transform='rotate(-1.07 108.979 138.101)' fill='white')
  defs
    clippath#translateclip0
      rect(width='180' height='137' fill='white' transform='translate(7 29)')
